* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(255, 255, 255);
}
.logo {
  margin-left: 30px;
}
.img-logo {
  width: 50px;
  height: 40px;
}
.nav-bar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-right: 100px;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.nav-links a:hover {
  color: rgb(5, 238, 238);
}
.nav-menu-btn {
  display: none;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #24252a;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links li {padding: 50px;
    text-align: center;
  }

  .nav-menu-btn {
    margin-right: 20px;
    color: white;
    display: flex;
  }
}
